/* 設定整個網頁的背景風格。 */

body {
    background: rgb(2, 0, 36);
    background: linear-gradient( 90deg, rgba(2, 0, 36, 1) 0%, rgba(122, 34, 137, 1) 12%, rgba(9, 121, 52, 0.8351541300113796) 47%, rgba(0, 212, 255, 1) 100%);
}


/* 網格的排列結構 */

.container-grid {
    display: grid;
    grid-template-areas: "item1 item3 item4" "item1 item5 item6" "item2 item7 item8" "item2 item9 item10";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


/* 所有項目（<div class="items">）的共同風格 */

.items {
    padding: 30px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.item1 {
    background-color: darkgreen;
    grid-area: item1;
}

.item2 {
    background-color: rgb(11, 23, 74);
    grid-area: item2;
}

.item3 {
    background-color: rgb(79, 16, 60);
    grid-area: item3;
}

.item4 {
    background-color: darkgreen;
    grid-area: item4;
}

.item5 {
    background-color: rgb(89, 83, 21);
    grid-area: item5;
}

.item6 {
    background-color: rgb(53, 24, 35);
    grid-area: item6;
}

.item7 {
    background-color: rgb(6, 38, 6);
    grid-area: item7;
}

.item8 {
    background-color: rgb(45, 46, 45);
    grid-area: item8;
}

.item9 {
    background-color: rgb(96, 47, 14);
    grid-area: item9;
}

.item10 {
    background-color: rgb(65, 61, 37);
    grid-area: item10;
}


/* 媒體查詢 */

@media (max-width: 600px) {
    /* 當螢幕寬度小於600，套用以下程式 */
    .container-grid {
        display: grid;
        grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9" "item10";
    }
}